<div class="footer">
    <section class="py-4 py-md-5 py-xl-8 border-top border-light">
      <div class="container overflow-hidden">
        <div class="row gy-4 gy-lg-0 justify-content-xl-between">
          <div class="col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="widget">
              <h4 class="widget-title mb-4">Product</h4>
              <ul class="list-unstyled">
                <li class="mb-2">
                  <a href="/" target="_blank">SITS PDF</a>
                </li>
                <li class="mb-2">
                  <a href="https://www.website4test.com/editor/" target="_blank">SITS Editor</a>
                </li>
                <li class="mb-2">
                  <a href="https://softechure.com/" target="_blank">SOFTECHURE</a>
                </li>
                <li class="mb-2">
                  <a href="/" target="_blank">SITS Audio Video Downloader</a>
                </li>
                <li class="mb-2">
                  <a href="/" target="_blank">SITS AI</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="widget">
              <h4 class="widget-title mb-4">Company</h4>
              <ul class="list-unstyled">
                <li class="mb-2">
                  <a href="https://softechure.com/aboutus.php" target="_blank">About Us</a>
                </li>
                <li class="mb-2">
                  <a href="https://softechure.com/contactus.php" target="_blank">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="widget">
              <h4 class="widget-title mb-4">Social With Us</h4>
              <ul class="d-flex gap-3 list-unstyled mb-2">
                <li>
                  <a title="facebook" href="https://www.facebook.com/softechure"><i class="fa-brands fa-facebook white-color"></i></a>
                </li>
                <li>
                  <a title="twitter" href="https://twitter.com/softechure"><i class="fa-brands fa-twitter white-color"></i></a>
                </li>
                <li>
                  <a title="pinterest" href="https://in.pinterest.com/softechure"><i class="fa-brands fa-pinterest white-color"></i></a>
                </li>
                <li>
                  <a title="linkedin" href="https://www.linkedin.com/in/softechure/"><i class="fa-brands fa-linkedin white-color"></i></a>
                </li>
              </ul>
              <a href="mailto:info@softechure.com" class="footer_email mb-4"><i class="fa fa-envelope"></i> &nbsp; info@softechure.com</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Copyright - Bootstrap Brain Component -->
    <div class="py-3 border-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="copyright text-center">&copy; {{ current_year }} Softechure IT Services. All Rights Reserved.</div>
          </div>
        </div>
      </div>
    </div>
</div>