{% extends 'base.html' %}

{% block content %}
<div id="tooltip_success">
    <p id="message"></p>
  </div>
  <div id="tooltip_error">
    <p id="message-error"></p>
  </div>
  <div class="register-container">
    <h2>Forgot Password</h2>
    <form id="forgot-password-form" class="register-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required />
      </div>
      <button type="submit" class="Login_reg w-50">Send Reset Link</button>
    </form>
  </div>

  <script>
    document.getElementById('forgot-password-form').addEventListener('submit', function (e) {
      e.preventDefault()
      fetch('{% url "forgot_password" %}', {
        method: 'POST',
        body: new FormData(this),
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            $('#message').text(data.message)
            $('#tooltip_success').show().delay(3000).fadeOut()
          } else {
            $('#message-error').text(data.message)
            $('#tooltip_error').show().delay(3000).fadeOut()
          }
        })
    })
  </script>
{% endblock %}
